form {
  width: 50%;
  padding: 30px; /*property*/
  margin: auto;
}

div {
  margin-top: 10px;
}

#color {
  width: 70px;
  height: 35px;
}

.checkbox, .radio {
  width: 20px !important;
  height: 20px !important;
}

#age {
  width: 100px;
}

#custom {
  margin-top: 5px;
}

.submit, .btn-primary {
  background-color: orange !important;
  border: 0;
  padding: 10px;
}

#date {
  width: 175px;
}